[data-aos] {
    transition-property: transform, opacity;
}

[data-aos][data-aos][data-aos-duration="50"], body [data-aos][data-aos][data-aos-duration="50"] {
    transition-duration: 50ms;
}

[data-aos][data-aos][data-aos-delay="50"], body [data-aos][data-aos][data-aos-delay="50"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate, body [data-aos][data-aos][data-aos-delay="50"].aos-animate {
    transition-delay: 50ms;
}

[data-aos][data-aos][data-aos-duration="100"], body [data-aos][data-aos][data-aos-duration="100"] {
    transition-duration: .1s;
}

[data-aos][data-aos][data-aos-delay="100"], body [data-aos][data-aos][data-aos-delay="100"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate, body [data-aos][data-aos][data-aos-delay="100"].aos-animate {
    transition-delay: .1s;
}

[data-aos][data-aos][data-aos-duration="150"], body [data-aos][data-aos][data-aos-duration="150"] {
    transition-duration: .15s;
}

[data-aos][data-aos][data-aos-delay="150"], body [data-aos][data-aos][data-aos-delay="150"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate, body [data-aos][data-aos][data-aos-delay="150"].aos-animate {
    transition-delay: .15s;
}

[data-aos][data-aos][data-aos-duration="200"], body [data-aos][data-aos][data-aos-duration="200"] {
    transition-duration: .2s;
}

[data-aos][data-aos][data-aos-delay="200"], body [data-aos][data-aos][data-aos-delay="200"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate, body [data-aos][data-aos][data-aos-delay="200"].aos-animate {
    transition-delay: .2s;
}

[data-aos][data-aos][data-aos-duration="250"], body [data-aos][data-aos][data-aos-duration="250"] {
    transition-duration: .25s;
}

[data-aos][data-aos][data-aos-delay="250"], body [data-aos][data-aos][data-aos-delay="250"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate, body [data-aos][data-aos][data-aos-delay="250"].aos-animate {
    transition-delay: .25s;
}

[data-aos][data-aos][data-aos-duration="300"], body [data-aos][data-aos][data-aos-duration="300"] {
    transition-duration: .3s;
}

[data-aos][data-aos][data-aos-delay="300"], body [data-aos][data-aos][data-aos-delay="300"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate, body [data-aos][data-aos][data-aos-delay="300"].aos-animate {
    transition-delay: .3s;
}

[data-aos][data-aos][data-aos-duration="350"], body [data-aos][data-aos][data-aos-duration="350"] {
    transition-duration: .35s;
}

[data-aos][data-aos][data-aos-delay="350"], body [data-aos][data-aos][data-aos-delay="350"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="350"].aos-animate, body [data-aos][data-aos][data-aos-delay="350"].aos-animate {
    transition-delay: .35s;
}

[data-aos][data-aos][data-aos-duration="400"], body [data-aos][data-aos][data-aos-duration="400"] {
    transition-duration: .4s;
}

[data-aos][data-aos][data-aos-delay="400"], body [data-aos][data-aos][data-aos-delay="400"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate, body [data-aos][data-aos][data-aos-delay="400"].aos-animate {
    transition-delay: .4s;
}

[data-aos][data-aos][data-aos-duration="450"], body [data-aos][data-aos][data-aos-duration="450"] {
    transition-duration: .45s;
}

[data-aos][data-aos][data-aos-delay="450"], body [data-aos][data-aos][data-aos-delay="450"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate, body [data-aos][data-aos][data-aos-delay="450"].aos-animate {
    transition-delay: .45s;
}

[data-aos][data-aos][data-aos-duration="500"], body [data-aos][data-aos][data-aos-duration="500"] {
    transition-duration: .5s;
}

[data-aos][data-aos][data-aos-delay="500"], body [data-aos][data-aos][data-aos-delay="500"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate, body [data-aos][data-aos][data-aos-delay="500"].aos-animate {
    transition-delay: .5s;
}

[data-aos][data-aos][data-aos-duration="550"], body [data-aos][data-aos][data-aos-duration="550"] {
    transition-duration: .55s;
}

[data-aos][data-aos][data-aos-delay="550"], body [data-aos][data-aos][data-aos-delay="550"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="550"].aos-animate, body [data-aos][data-aos][data-aos-delay="550"].aos-animate {
    transition-delay: .55s;
}

[data-aos][data-aos][data-aos-duration="600"], body [data-aos][data-aos][data-aos-duration="600"] {
    transition-duration: .6s;
}

[data-aos][data-aos][data-aos-delay="600"], body [data-aos][data-aos][data-aos-delay="600"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate, body [data-aos][data-aos][data-aos-delay="600"].aos-animate {
    transition-delay: .6s;
}

[data-aos][data-aos][data-aos-duration="650"], body [data-aos][data-aos][data-aos-duration="650"] {
    transition-duration: .65s;
}

[data-aos][data-aos][data-aos-delay="650"], body [data-aos][data-aos][data-aos-delay="650"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="650"].aos-animate, body [data-aos][data-aos][data-aos-delay="650"].aos-animate {
    transition-delay: .65s;
}

[data-aos][data-aos][data-aos-duration="700"], body [data-aos][data-aos][data-aos-duration="700"] {
    transition-duration: .7s;
}

[data-aos][data-aos][data-aos-delay="700"], body [data-aos][data-aos][data-aos-delay="700"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate, body [data-aos][data-aos][data-aos-delay="700"].aos-animate {
    transition-delay: .7s;
}

[data-aos][data-aos][data-aos-duration="750"], body [data-aos][data-aos][data-aos-duration="750"] {
    transition-duration: .75s;
}

[data-aos][data-aos][data-aos-delay="750"], body [data-aos][data-aos][data-aos-delay="750"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="750"].aos-animate, body [data-aos][data-aos][data-aos-delay="750"].aos-animate {
    transition-delay: .75s;
}

[data-aos][data-aos][data-aos-duration="800"], body [data-aos][data-aos][data-aos-duration="800"] {
    transition-duration: .8s;
}

[data-aos][data-aos][data-aos-delay="800"], body [data-aos][data-aos][data-aos-delay="800"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate, body [data-aos][data-aos][data-aos-delay="800"].aos-animate {
    transition-delay: .8s;
}

[data-aos][data-aos][data-aos-duration="850"], body [data-aos][data-aos][data-aos-duration="850"] {
    transition-duration: .85s;
}

[data-aos][data-aos][data-aos-delay="850"], body [data-aos][data-aos][data-aos-delay="850"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate, body [data-aos][data-aos][data-aos-delay="850"].aos-animate {
    transition-delay: .85s;
}

[data-aos][data-aos][data-aos-duration="900"], body [data-aos][data-aos][data-aos-duration="900"] {
    transition-duration: .9s;
}

[data-aos][data-aos][data-aos-delay="900"], body [data-aos][data-aos][data-aos-delay="900"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate, body [data-aos][data-aos][data-aos-delay="900"].aos-animate {
    transition-delay: .9s;
}

[data-aos][data-aos][data-aos-duration="950"], body [data-aos][data-aos][data-aos-duration="950"] {
    transition-duration: .95s;
}

[data-aos][data-aos][data-aos-delay="950"], body [data-aos][data-aos][data-aos-delay="950"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="950"].aos-animate, body [data-aos][data-aos][data-aos-delay="950"].aos-animate {
    transition-delay: .95s;
}

[data-aos][data-aos][data-aos-duration="1000"], body [data-aos][data-aos][data-aos-duration="1000"] {
    transition-duration: 1s;
}

[data-aos][data-aos][data-aos-delay="1000"], body [data-aos][data-aos][data-aos-delay="1000"] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate, body [data-aos][data-aos][data-aos-delay="1000"].aos-animate {
    transition-delay: 1s;
}

[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos="fade-up"] {
    transform: translate3d(0, 100px, 0);
}

[data-aos="fade-down"] {
    transform: translate3d(0, -100px, 0);
}

[data-aos="fade-right"] {
    transform: translate3d(-100px, 0, 0);
}

[data-aos="fade-left"] {
    transform: translate3d(100px, 0, 0);
}

[data-aos="fade-up-right"] {
    transform: translate3d(-100px, 100px, 0);
}

[data-aos="fade-up-left"] {
    transform: translate3d(100px, 100px, 0);
}

[data-aos="fade-down-right"] {
    transform: translate3d(-100px, -100px, 0);
}

[data-aos="fade-down-left"] {
    transform: translate3d(100px, -100px, 0);
}

[data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

[data-aos="zoom-in"] {
    transform: scale(.6);
}

[data-aos="zoom-in-up"] {
    transform: translate3d(0, 100px, 0) scale(.6);
}

[data-aos="zoom-in-down"] {
    transform: translate3d(0, -100px, 0) scale(.6);
}

[data-aos="zoom-in-right"] {
    transform: translate3d(-100px, 0, 0) scale(.6);
}

[data-aos="zoom-in-left"] {
    transform: translate3d(100px, 0, 0) scale(.6);
}

[data-aos="zoom-out"] {
    transform: scale(1.2);
}

[data-aos="zoom-out-up"] {
    transform: translate3d(0, 100px, 0) scale(1.2);
}

[data-aos="zoom-out-down"] {
    transform: translate3d(0, -100px, 0) scale(1.2);
}

[data-aos="zoom-out-right"] {
    transform: translate3d(-100px, 0, 0) scale(1.2);
}

[data-aos="zoom-out-left"] {
    transform: translate3d(100px, 0, 0) scale(1.2);
}

[data-aos^="slide"][data-aos^="slide"] {
    transition-property: transform;
}

[data-aos^="slide"][data-aos^="slide"].aos-animate {
    transform: translateZ(0);
}

[data-aos="slide-up"] {
    transform: translate3d(0, 100%, 0);
}

[data-aos="slide-down"] {
    transform: translate3d(0, -100%, 0);
}

[data-aos="slide-right"] {
    transform: translate3d(-100%, 0, 0);
}

[data-aos="slide-left"] {
    transform: translate3d(100%, 0, 0);
}

[data-aos="flip-left"] {
    transform: perspective(2500px) rotateY(-100deg);
    backface-visibility: hidden;
}

[data-aos="flip-left"].aos-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-aos="flip-right"] {
    transform: perspective(2500px) rotateY(100deg);
    backface-visibility: hidden;
}

[data-aos="flip-right"].aos-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-aos="flip-up"] {
    transform: perspective(2500px) rotateX(-100deg);
    backface-visibility: hidden;
}

[data-aos="flip-up"].aos-animate {
    transform: perspective(2500px) rotateX(0);
}

[data-aos="flip-down"] {
    transform: perspective(2500px) rotateX(100deg);
    backface-visibility: hidden;
}

[data-aos="flip-down"].aos-animate {
    transform: perspective(2500px) rotateX(0);
}